/* Reset & Basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-container {
    background-color: rgb(8 8 53 / 80%);
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: right;
    flex-wrap: unset;
    gap: 40px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    position: relative;
    transition: color 0.3s ease;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: #3d11d9;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    color: #0e58e0;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-bg {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    filter: brightness(0.4);
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 78%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
    color: #dddddd;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.cta-button:hover {
    box-shadow:
        0 0 8px #a18cd1,
        0 0 15px #fbc2eb,
        0 0 25px #a18cd1;
    transform: translateY(-3px) scale(1.03);
    background: rgba(255, 255, 255, 0.15);
}

.cta-button:active {
    transform: scale(0.98);
    box-shadow:
        0 0 6px #a18cd1,
        0 0 12px #fbc2eb;
}